.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat (7,1fr);
    grid-template-areas: "header header header header "
    "menu menu aside1 aside1"
    "main main sidebar sidebar"
    "main2 main2 aside2 aside2";
}
.header {
    display: grid;
    grid-area: header;
    justify-content: center;
    padding: 10px;
}
.menu {
    display: grid;
    grid-area: menu;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    align-content: start;
    justify-content: start;
}
.main {
    display: grid;
    grid-area: main;
    justify-content: center;
}
.p {
    width: 250px;
}
.main2 {
    display: grid;
    grid-area: main2;
    padding: 30px;
}
.aside1 {
    grid-area: aside1;
}
.sidebar {
    display: grid;
    grid-area: sidebar;
    justify-content: center;
}
.aside2 {
    grid-area: aside2;
}

.button {
    width: 100px;
    background-color: blue;
    border-radius: 30px;
    color: white;
}