.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(7,1fr);
}
.header {
    padding: 10px;
}
.menu {
    padding: 20px;
    align-content: start;
    justify-content: start;
}
.main {
    justify-content: center;
}
.p {
    width: 250px;
}
.main2 {
    padding: 30px;
}
.sidebar {
    justify-content: center;
}

.button {
    width: 100px;
    background-color: blue;
    border-radius: 30px;
    color: white;
}